<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ADMIN PAGE!</title>
</head>
<body>


<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" th:text="${#authentication.getName()} + ' with roles: ' + ${#authentication.getAuthorities()}"></span>

    <div class="form-inline my-2 my-lg-0">
        <div th:insert="index :: copy" sec:authorize="${isAuthenticated()}">
            <b><a href="/logout" class="link-secondary text-white-50">Выйти</a></b>
        </div>
    </div>
</nav>
<div class="row no-gutters">
<nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">MAIN PAGE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="col-md-10 bg-light">
        <div>
            <div class="container-fluid">
                <h1></h1>

                <h1>Admin panel</h1>


                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="users_table_card">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" id="new_user_card">New user</a>
                    </li>
                </ul>

                <div class="card firstCard" style="display: block">
                    <div class="card-header font-weight-bold h5">All users</div>
                    <div class="card-body">
                            <ul class="list-group list-group-flush">


                            <div class="panel-body">


                                <table class="table table-light table-striped">

                                    <thead>
                                    <tr>

                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>

                                    </tr>
                                    </thead>
                                    <tbody class="tbody"></tbody>
                                </table>

                                <hr/>

                            </div>
                            </ul>
                        </div>
                    </div>


                                <div class="card secondCard" style="display: none">
                                    <div class="card-header font-weight-bold">Add new user</div>
                                    <div class="card-body align-items-center">
                                        <div class="row justify-content-center">
                                            <div class="col-6">
                                                <form class="text-center form-new-user">
                                                    <div class="form-group">

                                            <label class="col-form-label font-weight-bold" for="Username">Username
                                            </label>
                                            <input type="text" class="col-6 offset-3 form-control" id="Username" name="username" placeholder="Username" />
                                        </div>
                                        <div class="form-group text-center">
                                            <label class="col-form-label font-weight-bold" for="E-mail">E-mail
                                            </label>
                                            <input type="email" class="col-6 offset-3 form-control" id="E-mail" name="email" placeholder="E-mail" />
                                        </div>
                                        <div class="form-group text-center">
                                            <label class="col-form-label font-weight-bold">Password</label>
                                            <input type="password" class="col-6 offset-3 form-control" id="Password" name="password" placeholder="Password" />
                                        </div>

                                            <label class="col-form-label font-weight-bold" for="roles">Roles</label>
                                            <select multiple size="2" class="col-6 offset-3 form-control" id="roles" name="roles">
                                                <option value="1">Admin</option>
                                                <option value="2">User</option>
                                            </select>
                                            <br/>
                                                    <button class="btn btn-success btn-lg" id="addNewUserBtn" type="button">Add new user</button>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>






                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-6 insertModal"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="editInfo">Edit</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src=/main.js></script>
</body>
</html>