<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{~/allUsers}" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="*{getId()}">

    <label for="name">Enter username</label>
    <input type="text" th:field="*{username}" th:value="*{getUsername()}" id="name"/>
    <br>

    <label for="surname">Enter email</label>
    <input type="email" th:field="*{email}" th:value="*{getEmail()}" id="surname"/>
    <br>

    <label for="email">Enter password</label>
    <input type="password" th:field="*{password}" th:value="*{getPassword()}" id="email"/>
    <br>

    <p>
        <label>Roles:
            <select name="roles" multiple size="2">
                <option
                        th:each="role : ${allRoles}"
                        th:text="${role.name}"
                        th:value="${role.id}"
                        th:field="*{roles}"
                />
            </select>
        </label>
    </p>

    <br>
    <input type="submit" value="Создать"/>

</form>
<br>
<hr>
<a href="allUsers"><button>Вернуться</button></a>
<div th:insert="index :: copy"></div>



</body>
</html>