<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>



<table class="table table-light table-striped">

    <thead>
    <tr>

        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">email</th>
        <th scope="col">Roles</th>
        <th scope="col">action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getRoles()}">Roles</td>
        <td><a th:href="@{edit/{id}(id=${user.getId()})}"><button>edit</button></a>
            <a th:href="@{remove/{id}(id=${user.getId()})}"><button>delete</button></a>
    </tr>
    </tbody>

</table>

    <br>
    <div><a href="new"> <button>add new user</button></a></div>
<br>
<hr>
<a href="/admin"><button>Вернуться</button></a>
<div th:insert="index :: copy"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>